.friend__list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  text-align: center;
}

.friend__list > li {
  width: 20%;
}

.data__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is__online {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: green;
}

.is__offline {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: red;
}
